<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ledcmd.plasmarobo.com.ledcommand">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.bluetooth.le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LEDControl"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.LEDCONTROL" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindDevice"
            android:label="@string/title_activity_find_device">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ledcmd.plasmarobo.com.led.BluetoothStripDriver"
            android:label="@string/title_activity_bluetooth_strip_driver" />
        <activity
            android:name="ledcmd.plasmarobo.com.services.LEDStripBluetooth"
            android:label="@string/title_activity_ledstrip_bluetooth" />

    </application>

</manifest>
